<div>
<h3 class=" well">Login Audits</h3>
<div class="well col-md-12">
<table tr-ng-grid='' items='audits'>
<thead>
        <tr>
            <th field-name="userName"></th>
            <th field-name="isSucess"></th>
            <th field-name="reason"></th>
            <th field-name="reqTimeUuid"></th>
            <th field-name="requestTimestamp"></th>
            <th field-name="clientDeviceType"></th>
            <th field-name="clientOperatingSystem"></th>
            <th field-name="clientBrowserInfo"></th>
            <th field-name="status"> </th>
        </th></tr>
    </thead>
</table>
</div>
</div>